$board-size: 684px;

$_star-points-nine: ((3 3) (7 3) (5 5) (3 7) (7 7));
$_star-points-thirteen: ((4 4) (10 4) (7 7) (4 10) (10 10));
$_star-points-nineteen: ((4 4) (10 4) (16 4) (4 10) (10 10) (16 10) (4 16) (10 16) (16 16));

$body-bg: #222932;

@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@function make_even($x) {
    $_x: round($x);
    @if ($x % 2 == 0) {
	@return $_x + 1;
    } @else {
	@return $_x;
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: $body-bg;
    font-family: monospace;
}

#board-container {
    padding: 30px 400px 0 0;
    position: relative;
}

#board {
    background: rgb(215,185,106);
    width: $board-size;
    height: $board-size;
    margin: 0 auto;
    box-shadow: 0 30px 60px rgba(#000, 0.32);
    top: 0;
    position: relative;
    opacity: 1;

    @include prefix(transition, "opacity 0.25s cubic-bezier(0.600, 0.040, 0.980, 0.335),
		                top 0.25s ease-out");

    .preload & {
	top: -15px;
	opacity: 0;
    }

    li {
	position: relative;
	display: block;
	float: left;

	&:not(.occupied) {
	    cursor: pointer;
	}

	&.occupied {
	    cursor: none;
	}
	
	&:before, &:after {
	    content: '';
	    position: absolute;
	    background: #333;
	}

	&:before {
	    height: 1px;
	    width: 100%;
	    top: 50%;
	}
	
	&:after {
	    width: 1px;
	    height: 100%;
	    left: 50%;
	}
	
	&:first-of-type {
	    &:before {
		width: 50%;
		left: 50%;
	    }
	}
	
	&:last-of-type {
	    &:before {
		width: 50%;
	    }
	}

	b, i {
	    display: block;
	    position: absolute;
	    z-index: 98;
	    border-radius: 100%;
	    z-index: 99;
	    top: 50%;
	    left: 50%;
	}
	
	b {
	    background: #333;
	}
	
	i {
	    background: #eee;
	}
    }

    ul:first-of-type {
	li:after {
	    height: 50%;
	    top: 50%;
	}
    }
    
    ul:last-of-type {
	li:after {
	    height: 50%;
	}
    }

    &.turn-black li:not(.occupied):hover {
	background-color: rgba(#333, 0.09);
    }
	
    &.turn-white li:not(.occupied):hover {
	background-color: rgba(#eee, 0.24);
    }
	
}

#sidebar {
    height: 100%;
    width: 360px;
    padding: 20px;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    background: #f2f2f2;
    opacity: 1;

    @include prefix(transition, all 0.25s ease-in-out);

    .preload & {
	opacity: 0;
	margin-right: -400px;
    }
}

#history-buttons {
    a {
	display: inline-block;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #555;
	background: #e8e8e8;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 8px;

	&:hover {
	    background-color: #fff;
	    position: relative;
	    top: -1px;
	    box-shadow: 0 1px 0 rgba(#ccc, 0.75);
	}

	&:active {
	    top: 0;
	    border-bottom-width: 1px;
	}
    }
}

#mode-switcher  {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    
    label {
	margin-left: 5px;
	cursor: pointer;
    }

    div {
	margin-bottom: 1em;
    }
}

#history-slider {
    margin-bottom: 20px;
    
    h3 {
	margin-bottom: 0.5em;
    }

    input {
	transform: scale(3);
	width: 100%;
    }
}

#whose-turn {
    padding: 20px;
    text-align: center;
    font-weight: bold;

    &.mine {
	$_color: #119945;
	border: 1px solid $_color;
	background: rgba($_color, 0.15);
	color: darken($_color, 10%);

	&:after {
	    content: "It's Your Turn";
	}
    }

    &.opponent {
	$_color: #777;
	border: 1px solid $_color;
	background: rgba($_color, 0.15);
	color: darken($_color, 10%);

	opacity: 0.25;

	&:after {
	    content: "It's not your turn"
	}
    }
}

#scoreboard {
    overflow: hidden;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;

    .label, .black, .white {
	float: left;
	line-height: 40px;
    }

    .label {
	letter-spacing: -1px;
	margin-right: 20px;
    }

    .black, .white {
	margin-right: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	text-align: center;
    }

    .black {
	background: #333;
	color: #eee;
	border: 1px solid #333;
    }

    .white {
	background: #fff;
	border: 1px solid #e5e5e5;
    }
}

.chat {
    width: 100%;
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #ccc;

    h2 {
	color: #aaa;
	font-size: 1.125em;
	margin-bottom: 1em;
    }

    .log {
	background: #fff;
	max-height: 200px;
	overflow: scroll;
	color: #999;
	font-size: 0.875em;
	box-shadow: 0 2px 4px rgba(#000, 0.04);

	li {
	    padding: 10px;
	    border-bottom: 1px solid #eee;
	    list-style-type: none;
	    position: relative;

	    &.opponent {
		color: #555;
		padding-left: 55px;

		&:before {
		    content: "|=>";
		    position: absolute;
		    left: 25px;
		}
	    }
	}
    }

    input[type="text"] {
	font-family: monospace;
	background: rgba(#fff, 0.85);
	display: block;
	padding: 8px;
	margin-top: 8px;
	width: 342px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px rgba(#000, 0.04);

	&::-webkit-input-placeholder { font-style: italic; }
	&:-moz-input-placeholder { font-style: italic; }
	&:-ie-input-placeholder { font-style: italic; }
	&:-o-input-placeholder { font-style: italic; }
    }

    input[type="submit"] {
	position: absolute;
	top: -999px;
    }
}

#alert {
    position: absolute;
    top: -30px;
    right: 400px;
    
    transition: (all 0.15s ease-in-out);
    -webkit-transition: (all 0.15s ease-in-out);
    -moz-transition: (all 0.15s ease-in-out);
    -o-transition: (all 0.15s ease-in-out);
    margin: 20px;
    padding: 20px;
    opacity: 0;
    z-index: 999;

    &.err {
	background: rgba(#ff6565, 0.9);
	color: rgba(#433, 1);
	font-weight: bold;
	border-radius: 6px;
	opacity: 1;
	top: 0;
    }
}

@mixin board($class: "nineteen",
	     $npoints: 19,
	     $star-points: $_star-points-nineteen) {
    $stone-size: make_even(($board-size / $npoints) * 0.9);
    $star-size: make_even(round(($stone-size / 5)));

    #board.#{$class} {
	li {
	    height: ($board-size / $npoints);
	    width: ($board-size / $npoints);
	    
	    b, i {
		width: $stone-size;
		height: $stone-size;
		margin-top: -($stone-size / 2);
		margin-left: -($stone-size / 2);
	    }
	}

	@include star-points($star-points, $star-size);
    }
}

@mixin star-points($star-points, $star-size) {
    @each $point in $star-points {
	$x: nth($point, 1);
	$y: nth($point, 2);
	ul:nth-of-type(#{$y}) li:nth-of-type(#{$x}) {
	    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='" + $star-size + "' height='" + $star-size + "'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
	    background-position: center center;
	    background-repeat: no-repeat;
	}
    }
}

@include board("nineteen", 19, $_star-points-nineteen);
@include board("thirteen", 13, $_star-points-thirteen);
@include board("nine", 9, $_star-points-nine);


body.index {
    h1 {
	text-transform: uppercase;
	color: mix(#000, $body-bg, 15%);
	text-align: center;
	letter-spacing: -3px;
	margin-bottom: -15px;
	font-weight: 800;
	font-size: 160px;
	text-shadow: 0 1px 0 rgba(#fff, 0.035);
    }
    
    a {
	display: block;
	width: 240px;
	line-height: 80px;
	margin: 20px auto;
	font-size: 1.125em;

	text-align: center;
	background: rgba(#fff, 0.05);

	color: rgba(#fff, 0.7);

	border-radius: px;
	border: 1px solid rgba(#000, 0.4);
	box-shadow:       0 1px  0 rgba(#fff, 0.03),
	            inset 0 40px 0 rgba(#fff, 0.015);

	&:hover {
	    -webkit-transform: translateY(-1px);
	    color: #eee;
	    background: rgba(#fff, 0.085);
	    border-bottom-width: 1px;

	    box-shadow:       0     1px 0 rgba(#000, 0.18),
	                inset 0    40px 0 rgba(#fff, 0.02);
	}

	&:active {
	    -webkit-transform: translateY(0);
	    box-shadow:       0  1px  0 rgba(#fff, 0.03),
	                inset 0 40px 0 rgba(#fff, 0.01);
	}
    }
}
