* {
  padding: 0;
  margin: 0; }

body {
  background: #222932;
  font-family: monospace; }

#board-container {
  padding: 30px 400px 0 0;
  position: relative; }

#board {
  background: #d7b96a;
  width: 684px;
  height: 684px;
  margin: 0 auto;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.32); }
  #board li {
    position: relative;
    display: block;
    float: left; }
    #board li:not(.occupied) {
      cursor: pointer; }
    #board li.occupied {
      cursor: none; }
    #board li:before, #board li:after {
      content: '';
      position: absolute;
      background: #333; }
    #board li:before {
      height: 1px;
      width: 100%;
      top: 50%; }
    #board li:after {
      width: 1px;
      height: 100%;
      left: 50%; }
    #board li:first-of-type:before {
      width: 50%;
      left: 50%; }
    #board li:last-of-type:before {
      width: 50%; }
    #board li b, #board li i {
      display: block;
      position: absolute;
      z-index: 98;
      border-radius: 100%;
      z-index: 99;
      top: 50%;
      left: 50%; }
    #board li b {
      background: #333; }
    #board li i {
      background: #eee; }
  #board ul:first-of-type li:after {
    height: 50%;
    top: 50%; }
  #board ul:last-of-type li:after {
    height: 50%; }
  #board.turn-black li:not(.occupied):hover {
    background-color: rgba(51, 51, 51, 0.09); }
  #board.turn-white li:not(.occupied):hover {
    background-color: rgba(238, 238, 238, 0.24); }

#sidebar {
  height: 100%;
  width: 360px;
  padding: 20px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  background: #f2f2f2; }

#history-buttons a {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #555;
  background: #e8e8e8;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 8px; }
  #history-buttons a:hover {
    background-color: #fff;
    position: relative;
    top: -1px;
    box-shadow: 0 1px 0 rgba(204, 204, 204, 0.75); }
  #history-buttons a:active {
    top: 0;
    border-bottom-width: 1px; }

#mode-switcher {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ccc; }
  #mode-switcher label {
    margin-left: 5px;
    cursor: pointer; }
  #mode-switcher div {
    margin-bottom: 1em; }

#history-slider {
  margin-bottom: 20px; }
  #history-slider h3 {
    margin-bottom: 0.5em; }
  #history-slider input {
    transform: scale(3);
    width: 100%; }

#alert {
  position: absolute;
  top: -30px;
  right: 400px;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  margin: 20px;
  padding: 20px;
  opacity: 0;
  z-index: 999; }
  #alert.err {
    background: rgba(255, 101, 101, 0.9);
    color: #443333;
    font-weight: bold;
    border-radius: 6px;
    opacity: 1;
    top: 0; }

#board.nineteen li {
  height: 36px;
  width: 36px; }
  #board.nineteen li b, #board.nineteen li i {
    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px; }
#board.nineteen ul:nth-of-type(4) li:nth-of-type(4) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7px' height='7px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nineteen ul:nth-of-type(4) li:nth-of-type(10) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7px' height='7px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nineteen ul:nth-of-type(4) li:nth-of-type(16) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7px' height='7px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nineteen ul:nth-of-type(10) li:nth-of-type(4) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7px' height='7px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nineteen ul:nth-of-type(10) li:nth-of-type(10) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7px' height='7px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nineteen ul:nth-of-type(10) li:nth-of-type(16) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7px' height='7px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nineteen ul:nth-of-type(16) li:nth-of-type(4) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7px' height='7px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nineteen ul:nth-of-type(16) li:nth-of-type(10) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7px' height='7px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nineteen ul:nth-of-type(16) li:nth-of-type(16) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7px' height='7px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }

#board.thirteen li {
  height: 52.61538px;
  width: 52.61538px; }
  #board.thirteen li b, #board.thirteen li i {
    width: 47px;
    height: 47px;
    margin-top: -23.5px;
    margin-left: -23.5px; }
#board.thirteen ul:nth-of-type(4) li:nth-of-type(4) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='9px' height='9px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.thirteen ul:nth-of-type(4) li:nth-of-type(10) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='9px' height='9px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.thirteen ul:nth-of-type(7) li:nth-of-type(7) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='9px' height='9px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.thirteen ul:nth-of-type(10) li:nth-of-type(4) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='9px' height='9px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.thirteen ul:nth-of-type(10) li:nth-of-type(10) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='9px' height='9px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }

#board.nine li {
  height: 76px;
  width: 76px; }
  #board.nine li b, #board.nine li i {
    width: 68px;
    height: 68px;
    margin-top: -34px;
    margin-left: -34px; }
#board.nine ul:nth-of-type(3) li:nth-of-type(3) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nine ul:nth-of-type(3) li:nth-of-type(7) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nine ul:nth-of-type(5) li:nth-of-type(5) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nine ul:nth-of-type(7) li:nth-of-type(3) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }
#board.nine ul:nth-of-type(7) li:nth-of-type(7) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
  background-position: center center;
  background-repeat: no-repeat; }

body.index h1 {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.15);
  text-align: center;
  letter-spacing: -3px;
  margin-bottom: -15px;
  font-weight: 800;
  font-size: 160px; }
body.index a {
  display: block;
  width: 240px;
  line-height: 80px;
  margin: 20px auto;
  font-size: 1.125em;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.7);
  border-radius: px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.03), inset 0 40px 0 rgba(255, 255, 255, 0.015); }
  body.index a:hover {
    -webkit-transform: translateY(-1px);
    color: #eee;
    background: rgba(255, 255, 255, 0.085);
    border-bottom-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.18), inset 0 40px 0 rgba(255, 255, 255, 0.02); }
  body.index a:active {
    -webkit-transform: translateY(0);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.03), inset 0 40px 0 rgba(255, 255, 255, 0.01); }
